.movieCardList{
    margin: 0 auto;
    width: 1140px;
}

.movieCardList__table{
    padding: 70px 0 0 0;
    margin:0 auto;
    list-style: none;
    display: grid;
    gap: 24px 30px;
    width: 1140px;
    grid-template-columns: repeat(3, 364px);
    grid-auto-rows: 271px;
}
.movieCardList__buttonConteiner{
    padding: 50px 0 80px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.movieCardList__button{
    padding: 0;
    margin: 0 auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    border: none;
    height: 36px;
    width: 320px;
    background: #2F2F2F;
    border-radius: 6px;
    color: white;
}
.movieCardList__button:hover{
    opacity: 0.8;
}



@media screen and (max-width: 1200px) {
    .movieCardList{
        width: calc(100vw - 60px);
    }
    .movieCardList__table{
        margin: 0 auto;
        width: 715px;
        gap: 30px 36px;
        grid-template-columns: repeat(2, 339px);
        grid-auto-rows:  258px;
    }
}

@media screen and (max-width: 750px) {
    .movieCardList{
        width: calc(100vw - 20px);
    }
    .movieCardList__table{
        width: 300px;
        padding: 40px 0 0 0;
        gap: 16px;
        grid-template-columns: repeat(1, 300px);
        grid-auto-rows: 236px;
    }
} 

@media screen and (max-width: 400px) {
    .movieCardList__button{
        width: calc(100vw - 80px);
    }
}