.formAuth{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 396px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #fff;
}
.formAuth__linkLogo{
    margin-top: 70px;
    width: 38px;
    height: 38px;
    align-self: flex-start;
}
.formAuth__logo{
    width: 38px;
    height: 38px;
}
.formAuth__title{
    margin: 40px auto 0;
    width: 100%;
    text-align: left;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.formAuth__inputConteiner{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.formAuth__inputConteiner:first-child{
    margin-top: 0;
}
.formAuth__label{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    text-align: left;
}
.formAuth__input{
    margin-top: 10px;
    padding: 15px;
    border: none;
    background: #2F2F2F;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}
.authForm__errorRequest{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    position: absolute;
    color: #EE3465;
    bottom: -45px;
    text-align: center;
}

.formAuth__inputs{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 266px;
}

.formAuth__input_display_none{
    display: none;
}

.formAuth__button{
    margin-top: 69px;
    border: none;
    width: 100%;
    height: 45px;
    background: #4285F4;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF
}
.formAuth__button:hover{
    opacity: 0.8;
}

.formAuth__button_type_disable{
    opacity: 0.8;
    background-color: #2F2F2F;
}
.authForm__error{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}
.formAuth__linkConteiner{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.formAuth__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B
}
.formAuth__link{
    text-decoration: none;
    margin: 0 0 0 6px;
    color: #4285F4;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.formAuth__link:hover{
    opacity: 0.7;
}

@media screen and (max-width: 460px) {
    .formAuth{
        width: calc(100vw - 60px);
    }
    .formAuth__linkLogo{
        align-self: center;
        margin-top: 56px;
    }
    .formAuth__title{
        text-align: center;
        margin-top: 50px;
    }
    .formAuth__inputs{
        margin-top: 80px;
    }
    .formAuth__button{
        margin-top: 157px;
        font-size: 12px;
        line-height: 15px;
    }
    .formAuth__linkConteiner{
        margin-top: 14px;
    }
    .formAuth__text{
    font-size: 12px;
    line-height: 15px;
    }
    .formAuth__link{
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 0 7px;
    }
}