.moviesCardSaved{
    width: 364px;
    height: 271px;
    display: flex;
    flex-direction: column; 
    font-family: 'Inter';
    font-style: normal;
    background: #222222;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}
.moviesCardSaved__conteiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.moviesCardSaved__link{
    margin: 0 auto;
    width: auto;
    height:auto;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.moviesCardSaved__textConteiner{
    width: calc(100% - 50px);
    text-decoration: none;
}
.moviesCardSaved__buttonSaved{
    padding: 0;
    border: 0;
    background: transparent;
    margin: 19px 16px;
    width: 30px;
    height: 30px;
    object-fit: contain; 
}
.moviesCardSaved__buttonSaved:hover{
    opacity: 0.8;
}
.moviesCardSaved__buttonDel{
    background-image: url(../../images/delMovie-min.svg);
}

.moviesCardSaved__title{
    padding: 0;
    margin: 14px 14px 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.moviesCardSaved__duration{
    margin: 9px 14px 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
}
.moviesCardSaved__poster{
    max-height: 203px;
    max-width: 364px;
}

@media screen and (max-width: 1200px) {
    .moviesCardSaved{
        width: 339px;
        height: 258px
    }
    .moviesCardSaved__poster{
        height: 190px;
        width: 339px;
    }
}

@media screen and (max-width: 720px) {
    .moviesCardSaved{
        width: 300px;
        height: 236px
    }
    .moviesCardSaved__poster{
        height: 168px;
        width: 300px;
    }

} 